* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: getColor(background);
    font-family: montserrat;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.error {
    color: #ff1b1b;

    input {
        border: 1px solid red;
    }
}

input {
    padding: 5px;
}

.success {
    color: greenyellow;
    
    input{
        padding: 5px;
        border: 1px solid greenyellow;
    }
}