@import "autoImport";

.title {
    text-align: center;
    margin: 10px auto;
    color: getColor(main);
}

form {
    padding: 1em;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    label{
        margin-bottom: 5px;
    }

    input {
        border-radius: 5px;
    }   
}

.btnContainer {
    display: grid;
    grid-template-columns: auto 1fr;

    button{
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
    }

    .btnExPara {
        color: red;
    }

    .btnNewPara {
        color: green;
    }

    .submitWapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

#btnSubmit {
    background-color: getColor(main);
    color:white;
}